<div *ngIf="busy">
  <ion-spinner></ion-spinner>
</div>
<ion-list *ngIf="!busy">
  <ion-list-header color="light">
    <ion-label>{{ln.tasks || 'Tasks'}}</ion-label>
    <ion-button size="small" (click)="add_init()" class="ion-margin-end">
      add
    </ion-button>
  </ion-list-header>
  <ion-item *ngIf="tasks.length==0" lines="none">
    <ion-icon color="success" name="alert-circle-outline" slot="start" size="large"></ion-icon>
    <ion-label color="success">
      <h2>{{ln.no_tasks || 'No tasks found'}}</h2>
    </ion-label>
  </ion-item>
  <ion-item *ngFor="let t of tasks">
    <ion-icon name="time-outline" *ngIf="t.type=='task'"></ion-icon>
    <ion-label class="ion-margin-start" *ngIf="t.type=='group'">
      <p>{{t.name}}</p>
    </ion-label>
    <ion-label class="ion-margin-start" *ngIf="t.type=='task'">
      <h4>{{ln.name || "Name"}}: {{t.name}}</h4>
      <p class="dn-fs-xsmall">
        {{ln.status || 'Status'}}: {{t.status}} &nbsp;
        {{ln.deadline || 'Deadline'}}: {{t.deadline}} &nbsp;
      </p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-modal [isOpen]="is_add_open" (didDismiss)="is_add_open=false">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{ln.add_task || "Add Task"}}</ion-title>
        <ion-buttons slot="end" class="ion-margin-end">
          <ion-button (click)="is_add_open=false">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list-header>{{ln.parent || 'Parent'}}: {{parent.id ? parent.name : "Root"}}</ion-list-header>
      <ion-item fill="solid">
        <ion-input [(ngModel)]="new_task.name" [label]="ln.name || 'Name'" labelPlacement="floating" ></ion-input>
      </ion-item>
      <ion-item fill="solid">
        <ion-select [(ngModel)]="new_task.type" [label]="ln.type || 'Type'" labelPlacement="floating" >
          <ion-select-option value="task">{{ln.task || 'Task'}}</ion-select-option>
          <ion-select-option value="group">{{ln.group || 'Group'}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item fill="solid">
        <ion-input [(ngModel)]="new_task.deadline" type="date" [label]="ln.deadline || 'Deadline'" labelPlacement="floating" ></ion-input>
      </ion-item>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-button slot="end" class="ion-margin-end" (click)="add_process()">
          {{ln.add || "Add"}}
          <ion-icon name="send" slot="end"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>