<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" class="ion-margin-start">
      <ion-back-button defaultHref="/hr/my-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ln.users || 'Users'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="fs-small">
      <ion-col size="6" size-sm="3">
        {{ln.file || "File"}}
        <input type="text" [placeholder]="ln.all || 'All'" [(ngModel)]="filter.file">
      </ion-col>
      <ion-col size="6" size-sm="3">
        {{ln.name || "Name"}}
        <input type="text" [placeholder]="ln.all || 'All'" [(ngModel)]="filter.name">
      </ion-col>
      <ion-col size="6" size-sm="3">
        {{ln.group || "Group"}}
        <select [(ngModel)]="filter.group_id">
          <option [value]="0">{{ln.all || 'All'}}</option>
          <option *ngFor="let g of groups" [value]="g.id">
            {{ln[g.code] || g.name}}
          </option>
        </select>
      </ion-col>
      <ion-col size="6" size-sm="3">
        {{ln.department || "Department"}}
        <select [(ngModel)]="filter.department_id">
          <option [value]="0">{{ln.all || 'All'}}</option>
          <option *ngFor="let d of deps" [value]="d.id">
            {{ln[d.code] || d.name}}
          </option>
        </select>
      </ion-col>
      <ion-col size="6" size-sm="3">
        {{ln.designation || "Designation"}}
        <select [(ngModel)]="filter.designation_id">
          <option [value]="0">{{ln.all || 'All'}}</option>
          <option *ngFor="let d of desg" [value]="d.id">
            {{ln[d.code] || d.name}}
          </option>
        </select>
      </ion-col>
      <ion-col size="6" size-sm="3">
        {{ln.shift || "Shift"}}
        <select [(ngModel)]="filter.shift_id">
          <option [value]="0">{{ln.all || 'All'}}</option>
          <option *ngFor="let s of shifts" [value]="s.id">
            {{ln[s.code] || s.name}}
          </option>
        </select>
      </ion-col>
      <ion-col size="12" size-sm="3">
        <ion-toggle [(ngModel)]="in_depth" >{{ln.detailed_view || 'Detailed view'}}</ion-toggle>
        <br>
        <ion-button (click)="search()">
          Search
          <ion-icon name="search-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="12" size-sm="3">
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="prev()" [disabled]="filter.page==1">{{ln.prev || 'Prev'}}</ion-button>
            {{filter.page}}
            <ion-button (click)="next()">{{ln.next || 'Next'}}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <table class="dn-table fs-small">
          <thead>
            <tr>
              <td>#</td>
              <td>{{ln.user || "User"}}</td>
              <td *ngIf="in_depth">{{ln.email || "Email"}}</td>
              <td *ngIf="in_depth">{{ln.departments || "Departments"}}</td>
              <td *ngIf="in_depth">{{ln.groups || "Groups"}}</td>
              <td *ngIf="in_depth">{{ln.shifts || "Shifts"}}</td>
              <td>{{ln.language || "Language"}}</td>
              <td>{{ln.action || "Action"}}</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of all;index as idx">
              <td>{{(idx+1) + (filter.page-1) * 50}}</td>
              <td>
                <span>{{u.name}}</span>
                <span>{{u.file}}</span>
              </td>
              <td *ngIf="in_depth">
                <span>{{u.email}}</span>
                <ion-icon 
                  [attr.title]="ln.this_user_can_login || 'This user can login'" 
                  [name]="u.can_login ? 'shield-half-outline' : 'alert-circle-outline'"
                  [color]="u.can_login ? 'success' : 'secondary'"
                ></ion-icon>
              </td>
              <td *ngIf="in_depth">
                <ion-badge color="secondary" *ngFor="let d of u.departments">
                  {{d.department.name}} ( {{d.designation.name}} )
                </ion-badge>
              </td>
              <td *ngIf="in_depth">
                <ion-badge color="success" *ngFor="let g of u.groups">
                  {{g.name}}
                </ion-badge>
              </td>
              <td *ngIf="in_depth">
                <ion-badge color="light"*ngFor="let s of u.shifts">
                  {{s.name}}
                </ion-badge>
              </td>
              <td>{{u.language}}</td>
              <td>
                <ion-button size="small" fill="clear" [routerLink]="['../', 'user-details']" [queryParams]="{user_id: u.id}">
                  {{ln.open || 'open'}}
                </ion-button>
              </td>
            </tr>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
