<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" class="ion-margin-start">
      <ion-back-button defaultHref="/madrsa/supervision/educational-supervisors"></ion-back-button>
    </ion-buttons>
    <ion-title>supervisory-methods</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" *ngFor="let m of all">
        <ion-item [routerLink]="m.path" fill="outline" lines="none">
          <ion-icon [name]="m.icon"></ion-icon>
          <ion-label class="ion-margin-start">
            <h4>{{ln[m.key] || m.name}}</h4>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
