<div class="ion-text-center">
  <ion-spinner *ngIf="busy"></ion-spinner>
</div>
<ion-list *ngIf="!busy">
  <ion-list-header color="light">
    <ion-label>{{ln.project_info || 'Project Info'}}</ion-label>
    <ion-button size="small">
      edit
    </ion-button>
  </ion-list-header>
  <ion-item lines="none">
    <ion-icon name="barcode-outline"></ion-icon>
    <ion-label class="ion-margin-start">
      <p>{{ln.code ||'Code'}}</p>
      <h2>{{proj.code}}</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-icon name="information-circle-outline"></ion-icon>
    <ion-label class="ion-margin-start">
      <p>{{ln.name ||'Name'}}</p>
      <h2>{{proj.name}}</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-icon name="cog-outline"></ion-icon>
    <ion-label class="ion-margin-start">
      <p>{{ln.type || 'Type'}}</p>
      <h2>{{proj.type}}</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-icon name="calendar-outline"></ion-icon>
    <ion-label class="ion-margin-start">
      <p>{{ln.deadline || 'Deadline'}}</p>
      <h2>{{proj.deadline || '--'}}</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-icon name="stats-chart-outline"></ion-icon>
    <ion-label class="ion-margin-start">
      <p>{{ln.status || 'Status'}}</p>
      <h2>{{proj.status}}</h2>
    </ion-label>
  </ion-item>
</ion-list>