<div class="br mb-10">
  <ion-item>
    <ion-icon name="grid"></ion-icon>
    <ion-label class="ion-margin-start">
      {{ln.departments || "Departments"}}
    </ion-label>
    <ion-button (click)="add_init()" fill="clear" size="small">{{ln.add || 'Add'}}</ion-button>
  </ion-item>
  <ion-item lines="none" *ngIf="all.length==0">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <ion-label class="ion-margin-start" color="success">{{ln.no_departments_found || "No departments found"}}</ion-label>
  </ion-item>
  <ion-item *ngFor="let d of all" lines="none">
    <ion-label class="fs-small">
      <b>{{ln[d.department.code] || d.department.name}}</b> ( {{ln[d.designation.code] || d.designation.name}} )
      <br>
      <small>{{ln.since || 'Since'}}: {{d.start_date | date}}</small>
    </ion-label>
    <ion-badge color="light" (click)="exit(d)">
      <ion-icon name="exit-outline" class="fs-small" color="success"></ion-icon>
    </ion-badge>&nbsp;
    <ion-badge color="light" (click)="remove(d)">
      <ion-icon name="trash-outline" class="fs-small" color="danger"></ion-icon>
    </ion-badge>
  </ion-item>
</div>