<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" class="ion-margin-start">
      <ion-back-button defaultHref="/hr/my-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ln.timesheet || "Timesheet"}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="fs-xsmall">
      <ion-col size="6" size-sm="3" size-md="2">
        {{ln.department || 'Department'}}
        <select [(ngModel)]="filter.department_id" class="p-2">
          <option [value]="0">{{ln.all || 'All'}}</option>
          <option *ngFor="let d of deps" [value]="d.id">{{d.name}}</option>
        </select>
      </ion-col>
      <ion-col size="6" size-sm="3" size-md="2">
        {{ln.file_number || 'File number'}}
        <input [(ngModel)]="filter.file" type="text" placeholder="all" class="p-2">
      </ion-col>
      <ion-col size="6" size-sm="3" size-md="2">
        {{ln.employee_name || 'Name'}}
        <input [(ngModel)]="filter.name" type="text" placeholder="all" class="p-2">
      </ion-col>
      <ion-col size="6" size-sm="3" size-md="2">
        {{ln.shift || 'Shift'}}
        <select [(ngModel)]="filter.shift_id" class="p-2">
          <option [value]="0">{{ln.all || 'All'}}</option>
          <option *ngFor="let s of shifts" [value]="s.id">{{s.name}}</option>
        </select>
      </ion-col>
      <ion-col size="6" size-sm="3" size-md="2">
        {{ln.delayed_checkin || 'Delayed Checkin'}}
        <select [(ngModel)]="filter.is_in_delay" class="p-2">
          <option value="all">{{ln.all || 'All'}}</option>
          <option value="yes">{{ln.yes || 'Yes'}}</option>
          <option value="no">{{ln.no || 'No'}}</option>
          <option value="none">{{ln.none || 'None'}}</option>
        </select>
      </ion-col>
      <ion-col size="6" size-sm="3" size-md="2">
        {{ln.early_checkout || 'Early Checkout'}}
        <select [(ngModel)]="filter.is_out_early" class="p-2">
          <option value="all">{{ln.all || 'All'}}</option>
          <option value="yes">{{ln.yes || 'Yes'}}</option>
          <option value="no">{{ln.no || 'No'}}</option>
          <option value="none">{{ln.none || 'None'}}</option>
        </select>
      </ion-col>
      <ion-col size="6" size-sm="3" size-md="2">
        {{ln.absent || 'Absent'}}
        <select [(ngModel)]="filter.is_absent" class="p-2">
          <option value="all">{{ln.all || 'All'}}</option>
          <option value="yes">{{ln.yes || 'Yes'}}</option>
          <option value="no">{{ln.no || 'No'}}</option>
          <option value="none">{{ln.none || 'None'}}</option>
        </select>
      </ion-col>
      <ion-col size="6" size-sm="3" size-md="2">
        {{ln.sort_by || 'Sort By'}}
        <select [(ngModel)]="filter.sort_by" class="p-2">
          <option value="name">{{ln.name || 'Name'}}</option>
          <option value="file">{{ln.file || 'File'}}</option>
          <option value="pos">{{ln.position || 'Position'}}</option>
        </select>
      </ion-col>
      <ion-col size="6" size-sm="3" size-md="2">
        <div *ngIf="filter.type=='range'">
          {{ln.from || 'From'}}
          <input type="date" [(ngModel)]="filter.date_from" class="p-2">
        </div>
        <div *ngIf="filter.type=='specific'">
          {{ln.select_date || 'Select Date'}}
          <input type="date" [(ngModel)]="filter.date" class="p-2">
        </div>
      </ion-col>
      <ion-col *ngIf="filter.type=='range'" size="6" size-sm="3" size-md="2">
        {{ln.to || 'To'}}
        <input type="date" [(ngModel)]="filter.date_to" class="p-2">
      </ion-col>
      <ion-col size="12" size-sm="3" size-md="2">
        <br>
        <ion-button (click)="filter.type='range'" [color]="filter.type=='range' ? 'primary' : 'success'" size="small" fill="clear" class="fs-xsmall">
          <ion-icon class="fs-small" name="checkmark-done-outline" *ngIf="filter.type=='range'" slot="start"></ion-icon>
          {{ln.range || "Range"}}
        </ion-button>
        <ion-button (click)="filter.type='specific'" [color]="filter.type=='specific' ? 'primary' : 'success'" size="small" fill="clear" class="fs-xsmall">
          <ion-icon class="fs-small" name="checkmark-done-outline" *ngIf="filter.type=='specific'" slot="start"></ion-icon>
          {{ln.specific || "Specific"}}
        </ion-button>
      </ion-col>
      <ion-col size="12" size-sm="3" size-md="2">
        <ion-button (click)="search()" size="small" class="fs-small mt-15">
          {{ln.search || 'Search'}}
          <ion-icon slot="end" name="search-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <table class="dn-table fs-small">
        <thead>
          <tr>
            <td>#</td>
            <td>{{ln.file || 'File'}}</td>
            <td>{{ln.name || 'Name'}}</td>
            <td>{{ln.in_time || 'In Time'}}</td>
            <td>{{ln.is_in_delayed || 'Is In Delayed'}}</td>
            <td>{{ln.out_time || 'Out Time'}}</td>
            <td>{{ln.is_out_early || 'Is Out Early'}}</td>
            <td>{{ln.is_absent || 'Is Absent'}}</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!busy && all.length==0">
            <td colspan="8" class="ion-text-center ion-padding">
              <ion-icon size="large" name="alert-circle-outline" color="danger"></ion-icon>
              <div class="fs-large text-danger">
                {{ln.no_data_found || 'No data found'}}
              </div>
            </td>
          </tr>
          <tr *ngFor="let u of all; index as idx">
            <td>{{idx+1}}</td>
            <td>{{u.file}}</td>
            <td>{{u.name}}
              <ion-badge *ngIf="!u.user_id" color="danger">{{ln.user_not_found || 'User not found'}}</ion-badge>
            </td>
            <td>
              <span *ngIf="u.in_time">{{(u.date + ' ' + u.in_time.h + ':' + u.in_time.m) | date : 'hh:mm a'}}</span>
              <span *ngIf="!u.in_time">--</span>
            </td>
            <td>
              <ion-badge color="warning" *ngIf="u.is_in_delay=='yes'">
                {{ln.delayed || 'Delayed'}}
              </ion-badge>
              <span *ngIf="u.is_in_delay!='yes'">--</span>
            </td>
            <td>
              <span *ngIf="u.out_time">{{(u.date + ' ' + u.out_time.h + ':' + u.out_time.m) | date : 'hh:mm a'}}</span>
              <span *ngIf="!u.out_time">--</span>
            </td>
            <td>
              <ion-badge color="warning" *ngIf="u.is_out_early=='yes'">
                {{ln.early || 'Early'}}
              </ion-badge>
              <span *ngIf="u.is_out_early!='yes'">--</span>
            </td>
            <td>
              <ion-badge color="warning" *ngIf="u.is_absent=='yes'">
                {{ln.absent || 'Absent'}}
              </ion-badge>
              <span *ngIf="u.is_absent!='yes'">--</span>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-row>
  </ion-grid>
</ion-content>
