<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" class="ion-margin-start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>{{ln.project_details || 'Project Details'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="5" size-md="4">
        <app-project-basic></app-project-basic>
        <app-attachment object_id_key="project_id" object_type="project"></app-attachment>
      </ion-col>
      <ion-col size="12" size-sm="7" size-md="8">
        <app-project-task></app-project-task>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
