<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" class="ion-margin-start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>Customer Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4">
        <app-customer-basic></app-customer-basic>
        <app-contact object_type="customer" object_id_key="customer_id"></app-contact>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4">
        <app-customer-projects></app-customer-projects>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
