<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      IDN
    </ion-title>
    <ion-button color="light" slot="end" class="ion-margin-end" routerLink="/login">
      LOGIN
      <ion-icon name="log-in" slot="end"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" class="ion-text-justify">
        <h1>
          Project Management
        </h1>
        <p>Introducing our cutting-edge project management software: Streamline Your Workflow, Simplify Your Projects. Our software is designed to help you manage projects with ease, from start to finish. With intuitive features like task tracking, team collaboration, and real-time progress updates, you'll never miss a beat. Stay organized, boost productivity, and deliver projects on time, every time. Try our project management software today and experience a new level of efficiency.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
